<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="Bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>Register New User</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">   User Profile  </h1>
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">User Profile</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-5 col-sm-12">
                       
                    <input type="text" name="" id="fullname" class="form-control" placeholder="Full Name"><br>
                    <input type="text" name="" id="uname" class="form-control" placeholder="Username"><br>
                    <input type="text" name="" id="email" class="form-control" placeholder="Emaill Address"><br>
                    <input type="password" class="form-control" name="" id="pass" placeholder="Password "><br>
                    <input type="button" class="btn btn-success" value="Register" id="Register">
                </div>
                
            </div>
        </div>
    </div>
</body>
<script src="Bootstrap/js/bootstrap.js"></script>
</html>